src/wsdl/localhost_8080/GoCheeta-service/DriverService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://GoCheeta/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://GoCheeta/">

<xs:element name="addDriver" type="tns:addDriver"/>

<xs:element name="addDriverResponse" type="tns:addDriverResponse"/>

<xs:element name="deleteDriver" type="tns:deleteDriver"/>

<xs:element name="deleteDriverResponse" type="tns:deleteDriverResponse"/>

<xs:element name="getDriver" type="tns:getDriver"/>

<xs:element name="getDriverResponse" type="tns:getDriverResponse"/>

<xs:element name="loginDriver" type="tns:loginDriver"/>

<xs:element name="loginDriverResponse" type="tns:loginDriverResponse"/>

<xs:element name="updateDriver" type="tns:updateDriver"/>

<xs:element name="updateDriverResponse" type="tns:updateDriverResponse"/>

<xs:complexType name="updateDriver">
<xs:sequence>
<xs:element name="driver" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:sequence>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="validDriver" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriver">
<xs:sequence>
<xs:element name="driver" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriver">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriver">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginDriver">
<xs:sequence>
<xs:element name="Username" type="xs:string" minOccurs="0"/>
<xs:element name="Password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginDriverResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>